# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'hello by fis'
      'command': 'atom-fis3-smarty:hello'
    }
    {
      'label': 'release with fis-conf.js'
      'command': 'atom-fis3-smarty:release'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-fis3-smarty'
      'submenu': [
        {
          'label': 'show hello'
          'command': 'atom-fis3-smarty:hello'
        }
      ]
    ]
  }
]
